.container-fluid {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/main-background.webp");
}

table {  
  margin-top: 1rem;
}